/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .nav {
    position: relative;
    z-index: 1; /* Ensure the navbar appears above other elements */
}

.navbar {
    
    margin-top: 30px;
    margin-left: 20px;
}

.navbar ul {
    overflow: auto;
    border-bottom: 1px solid #1a1919;
    margin-right: 40px;
    margin-left: 170px;
}

.navbar ul:hover {
    box-shadow: 5px 6px 10px gray;
}

.navbar li {
    float: left;
    margin: 13px 30px;
    list-style: none;
    font-size: 20px;
    padding: 10px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(170, 166, 161);
    font-family:'Kode Mono';
    font-size: 24px;
    font-weight: bold;
}

.search {
    margin-top: 25px;
    position: relative;
    left: -10px;
}

.navbar li a:hover {
    color: rgb(124, 10, 29);
    text-decoration: line-through;
}

.search:hover {
    /* Add styles for search hover if needed */
}
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  /* Contact Section Styles */
  .contact-section {
    display: flex;
    justify-content: space-around;
    padding: 40px;
  }
  
  .contact-info {
    width: 40%;
    color: aliceblue;
  }
  
  .contact-form {
    width: 40%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  #form-message {
    margin-top: 20px;
    font-weight: bold;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }